@charset "utf-8";


.root {
  text-align: center;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  &[data-numeral] {
    width: 0.58em;
  }
  &[data-rotate="true"] {
    rotate: 180deg;
    &[data-char="a"] {
      translate: 0em 0.34em;
    }
    &[data-char="b"] {
      translate: 0em 0.52em;
    }
  }
}