@charset "utf-8";

@use "../../animation.scss" as *;


.outer-frame {
  stroke-width: 2;
  stroke: var(--line-color);
  fill: none;
  stroke-dasharray: calc(var(--length));
  stroke-dashoffset: calc(var(--length) * -1);
  animation: draw both;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
}

.inner-frame {
  stroke-width: 2;
  stroke: var(--line-color);
  fill: none;
  stroke-dasharray: calc(var(--length));
  stroke-dashoffset: calc(var(--length) * -1);
  animation: draw both;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease;
}

.middle {
  stroke-width: 1;
  stroke: var(--line-color);
  fill: none;
  stroke-dasharray: 10 10;
  animation: fade-in both;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-timing-function: ease;
}

.center-frame {
  stroke-width: 2;
  stroke: var(--line-color);
  fill: none;
  stroke-dasharray: calc(var(--length));
  stroke-dashoffset: calc(var(--length) * -1);
  animation: fade-in both;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-timing-function: ease;
}

.divider {
  stroke-width: 1;
  stroke: var(--line-color);
  stroke-dasharray: calc(var(--length));
  stroke-dashoffset: calc(var(--length) * -1);
  animation: draw both;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-timing-function: ease;
}

.number {
  font-size: 32px;
  font-weight: 250;
  fill: var(--line-color);
  animation: fade-in both;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-timing-function: ease;
}