@charset "utf-8";

@use "../../function.scss" as *;


.root {
  color: var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fade-in both;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-timing-function: ease;
}

.item {
  padding-inline: unit(2);
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(:first-child) {
    margin-block-start: unit(1);
    padding-block-start: unit(0.25);
    border-top: solid 1px var(--line-color);
  }
}

.row {
  font-weight: 200;
  &[data-size="large"] {
    font-size: unit(2.5);
  }
  &[data-size="small"] {
    margin-block-start: unit(-0.1);
    font-size: unit(1.75);
  }
}