@charset "utf-8";

@use "../../function.scss" as *;


:root {
  --light-background-color: oklch(0.36 0.01 286);
  --dark-background-color: oklch(0.28 0.01 286);
  --sun-color: oklch(0.85 0.05 80);
  --moon-color: oklch(0.85 0.05 220);
  --mercury-color: oklch(0.8 0.12 160);
  --venus-color: oklch(0.85 0.15 130);
  --mars-color: oklch(0.8 0.15 20);
  --jupiter-color: oklch(0.8 0.15 270);
  --saturn-color: oklch(0.85 0.15 110);
  --line-color: oklch(1 0 0 / 0.5);
}

.root {
  flex: 0 0 auto;
  @include landscape {
    --unit: calc(90vh / 1440);
    height: 90vh;
    padding-inline: unit(64);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @include portrait {
    --unit: calc(90vw / 1440);
    width: 90vw;
    padding-block: unit(64);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.horoscope {
  aspect-ratio: 1;
  flex: 0 0 auto;
  @include landscape {
    height: 100%;
  }
  @include portrait {
    width: 100%;
  }
}

.table {
  flex: 0 0 auto;
  @include landscape {
    height: 100%;
    margin-inline-start: unit(96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include portrait {
    width: 100%;
    margin-block-start: unit(96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}