@charset "utf-8";

@use "../../function.scss" as *;


.root {
  &[data-planet="sun"] {
    --color: var(--sun-color);
  }
  &[data-planet="moon"] {
    --color: var(--moon-color);
  }
  &[data-planet="mercury"] {
    --color: var(--mercury-color);
  }
  &[data-planet="venus"] {
    --color: var(--venus-color);
  }
  &[data-planet="mars"] {
    --color: var(--mars-color);
  }
  &[data-planet="jupiter"] {
    --color: var(--jupiter-color);
  }
  &[data-planet="saturn"] {
    --color: var(--saturn-color);
  }
}

.root {
  row-gap: unit(4);
  column-gap: unit(24);
  color: var(--color);
  display: grid;
  grid-template-columns: unit(216) max-content;
  grid-template-rows: max-content max-content;
}

.symbol {
  width: unit(64);
  height: unit(64);
  margin-block-start: unit(0);
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  overflow: visible;
  display: flex;
  align-self: center;
  justify-self: center;
}

.name {
  font-size: unit(22);
  margin-inline-end: -0.05em;
  letter-spacing: 0.23em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: end;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.value {
  font-size: unit(72);
  font-weight: 200;
  text-align: end;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}