@charset "utf-8";

@use "../../function.scss" as *;


.root {
  row-gap: unit(3);
  display: flex;
  flex-direction: column;
  animation: fade-in both;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-timing-function: ease;
}

.section {
  row-gap: unit(3);
  display: flex;
  flex-direction: column;
}

.row {
  column-gap: unit(3);
  display: flex;
  flex-direction: row;
  justify-content: center;
}